<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Night Search</title>
  <link rel="stylesheet" href="static\css\index.css">
  <script src="static\js\cursor.js"></script>
  <script src="static\js\background.js"></script>
  <script src="static\js\rain.js"></script>
  <script src="static\js\anti-inspect.js"></script>
  <script src="static\js\search.js"></script>
</head>
<body>
<div id="background-image"></div>
<div id="rain"></div>
  <div class="container">
    <h1 class="logo">
      <span>N</span><span>i</span><span>g</span><span>h</span><span>t</span> 
      <span>S</span><span>e</span><span>a</span><span>r</span><span>c</span><span>h</span>
    </h1>
        <form class="search-form">
      <input type="text" class="search-box" placeholder="Email or phone...">
      <select class="search-type">
        <option value="help">Help</option>
        <option value="info">Info</option>
      </select>
      <button type="submit" class="search-btn">Search</button>
      <br>
      <div id="result"></div>
    </form>
    <button class="plus-btn">+</button>
  </div>
</body>
</html>
